name: Terraform Deployment

on:
  push:
    branches:
      - dev
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v3

      - uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - run: terraform init

      - run: |
          if [ "${GITHUB_REF##*/}" = "main" ]; then
            terraform workspace select prod || terraform workspace new prod
          else
            terraform workspace select dev || terraform workspace new dev
          fi

      - run: terraform apply -auto-approve
